$col1: #f0f;
$col2: #ff0;
$col3: #0ff;

$duration: 60s;

.box {
  width: 400px;
  height: 150px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 3em;
}

.box-border {
  border: 5px solid currentColor;
  animation: colors $duration linear infinite;
}

.box-bg {
  color: #fff;
  background: linear-gradient(-45deg, $col1, $col2, $col3, $col1, $col2);
  background-size: 400%;
  animation: bg-colors $duration linear infinite;
}

@keyframes colors {
  0% {
    color: $col1;
  }
  33% {
    color: $col2;
  }
  66% {
    color: $col3;
  }
  100% {
    color: $col1;
  }
}

@keyframes bg-colors {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right bottom;
  }
}
